{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page %}
    <title>{% block title %}{{ page.title }}{% endblock title %}</title>
    <meta property="twitter:title" content="{{ page.title }}" />

        {% if page.slug %}
            <meta property="twitter:url" content="{{ config.base_url }}/{{ page.slug }}" />
        {% else %}
            <meta property="twitter:url" content="{{ config.base_url }}" />
        {% endif %}

      {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        <meta property="twitter:description" content="{{ page.description }}" />
      {% elif config.description %}
        <meta name="description" content="{{ config.description }}" />
        <meta property="twitter:description" content="{{ config.description }}" />
      {% endif %}
    {% elif config.description %}
        <meta name="description" content="{{ config.description }}" />
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% endif %}
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ config.base_url }}/images/mjovanc.png" />

      

      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block css %}
          <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
      {% endblock css %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="hack dark main container">
        {% block content %}
            {% block header %}
                {% if config.extra.after_dark_menu %}
                    <header>
                        <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                        {% for item in config.extra.after_dark_menu %}
                            <a itemprop="url"
                               class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
                               href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) | safe }}">
                                <span itemprop="name">{{ item.name }}</span></a>
                        {% endfor %}
                        </nav>
                    </header>
                {% endif %}
            {% endblock header %}

            <main>
                {% if config.extra.after_dark_title %}
                    <header>
                        <h1 class="small-title">{{ config.extra.after_dark_title }}</h1>
                    </header>
                {% endif %}
                {% for page in paginator.pages %}
                    {{ post_macros::page_in_list(page=page) }}
                {% endfor %}

                <nav>
                  <p>
                    {% if paginator.previous %}
                      <a href="{{ paginator.previous }}">&laquo; Previous</a> |
                    {% endif %}
                    <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
                    {% if paginator.next %}
                      | <a href="{{ paginator.next }}">Next &raquo;</a>
                    {% endif %}
                  </p>
                </nav>
            </main>
        {% endblock content %}
    </body>

</html>
